<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <type name="Magento\ImportExport\Model\Import\SampleFileProvider">
        <arguments>
            <argument name="samples" xsi:type="array">
                <item name="admin_users" xsi:type="string">Harsha_AdminUserImport</item>
            </argument>
        </arguments>
    </type>
</config>
